# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.EstClientLibrary.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\git\tmp\EstClientLibrary\.idea\.idea.EstClientLibrary\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
